@import "../../sass/abstract/mixins";

.popup__status {
  //popup usage guide
  //  height,width,top position,align-items position
  @include popup(46rem, 35rem, 50%, center);

  &__icon {
    width: 15rem;
    height: 15rem;
    margin-top: -6rem;
  }
}
