@import "../../sass/base/layout";
@import "../../sass/base/utilities";

.browseServices {
  &__card {
    margin-bottom: 5rem;
    width: 35rem;
    cursor: pointer;
    transition: 0.3s ease-in-out forwards;
    &__upper {
      margin-top: 3rem;
      height: 10rem;
      width: 30rem;
      display: flex;
      align-items: center;
      &__avatar {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin-right: 2.5rem;
      }
      &__name {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 5rem;
      }
    }
    &:hover {
      background-color: rgba(#3751ff, 0.125);
    }
  }
}

.browse-service-provider-cards-container {
  position: relative;
}
