.avatar {
  display: flex;
  align-items: center;
  &__reverse {
    flex-direction: row-reverse;
  }
  &__img {
    width: 4.4rem;
    height: 4.4rem;
    cursor: pointer;
    margin-right: 1rem;
  }
  &__text {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-right: 1.4rem;
  }
}
