@import "../../sass/abstract/mixins";

.article-attachment-popup {
  padding: 4rem 3.6rem;
  @include popup(60rem, 30rem, 50%, flex-start);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  &__form-input {
    width: 100%;
  }
}
