@import "../../sass/abstract/mixins";
@import "../../sass/base/utilities";
// **general use layout css
.home-page-upper {
  padding-top: 5rem;
  &__left {
    padding: 3rem 0;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__header {
    font-size: 4rem;
    width: 50rem;
    line-height: 5.6rem;
    font-weight: 700;
  }
  &__paragraph {
    margin: 4rem 0;
    @include secondary-text(2.1rem, 3.2rem);
  }
}

.home-page-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 5rem;
  padding-bottom: 5rem;
  position: relative;

  &__vector {
    position: absolute;
    left: -5%;
    top: 18rem;
    z-index: -1;
    height: 60rem;
    width: 90rem;
    background: linear-gradient(175.68deg, #f3f7ff -10.48%, #deeefe 92.66%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
