.template {
  position: relative;
  width: 85%;
  align-self: center;

  @media (max-width: 1020px) {
    width: 90%;
  }

  @media (min-width: 2000px) {
    width: 80%;
  }
}

.mobile-navbar-container {
  display: none;
}

@media (max-width: 850px) {
  .mobile-navbar-container {
    display: block;
  }
  .desktop-navbar-container {
    display: none;
  }
}
